.bg-danger-subtle{
    box-shadow: 2px 2px 3px #BDBDBD;
    border-radius: 5px;
    background: #f9f9f9;
}
.carousel-control-prev-icon {
    background-color: #a5b5c4ab;
}

.carousel-control-next-icon{
    background-color: #a5b5c4ab;
}
